# Note you can override these values on the CLI using extra args
fw        ansible_host=10.10.10.1

[all:vars]
ansible_user=admin
ansible_password=Super Secret

ansible_network_os=mrichardson03.panos.panos
ansible_connection=httpapi
ansible_httpapi_use_ssl=True
ansible_httpapi_validate_certs=False

ansible_python_interpreter={{ ansible_playbook_python }}